
.modalHeader{
    border-bottom-color: #EE6F63;
}
.modalFooter{
    border-top-color: #EE6F63;
}
.closeButton{
    background: transparent;
    opacity: 1;
    padding-top: 0.3rem;
    padding-left: 0.7 rem;
}
.setting{
    flex: 1 1 0px;
}
.settingRow{
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-color: lightgray;
    border-style: solid;
}
.settingRow:first-child{
    border-top-width: 0px;
}
:global(.dark) .settingRow{
    border-color: gray;
}
:global(.dark).modalContent{
    background-color: #343434;
}
:global(.dark) .modalHeader{
    border-bottom-color: #e3b505;
}
:global(.dark) .modalFooter{
    border-top-color: #e3b505;
}
:global(.dark) .closeButton{
    color: white;
}