.evoChain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    padding: 10px 0;
}
.evoChainCol{
    display:flex;
    flex-direction: row;
    padding: 0px 10px;
    margin: auto;
}
.evoColImg{
    width: 120px;
    height: 120px;
    border: 1px lightgrey solid;
    border-radius: 10px;
    padding: 10px;
    margin: 2px;
}
.evoChainCol img{
    height: 100%;
}
.EvoChainArrow{
    margin-top: 5px;
}
.dark .evoColImg{
    /* border-color: #222222; */
    border-color: #E3B505;
}
@media (min-width: 767px){
    .evoChain{
        flex-direction: row;
    }
    .evoChainCol{
        flex-direction: column;
        padding: 0px 10px;
        margin: auto 0px;
    }
    .EvoChainArrow{
        padding-right: 20px;
        margin-top: 0;
    }
}
