.mobileMenu {
	background-color: var(--clr-secondary);
	color: var(--clr-text);
	.mobileMenuItem {
		background-color: transparent !important;
		border-color: var(--clr-highlight);
		color: var(--clr-text);
		a {
			text-decoration: none;
		}
		svg,
		img {
			margin-right: 10px !important;
		}

		&:before {
			content: "";
			vertical-align: middle;
			height: 100%;
		}
	}
	* {
		vertical-align: middle;
	}
}
