.navbar{
    height: 54px;
    width: 100%;    
    background-color: #f7f7f7;
    color: #222222;
    padding:5px !important;
    box-shadow: 0px -2px 5px 0px #dddddd;
    z-index: 1045 !important;
}
.dark.navbar{
    background-color: #222222;
    color: white;
    box-shadow: 0px -2px 5px 0px #1f1f1f;
}
.navbaritem{
    background-color: #dddddd;
    border-radius: 15px;
    border: 1px solid #dddddd;
    margin: 0 5px;
    color: #222222;
    transition: 0.2s;
    padding: 0px;
}
.dark .navbaritem{
    background-color: #343434;
    border: 1px solid #343434;
    color: white;
}
.navbaritem:hover{
    background-color: #dddddd;
    border-color: #dddddd;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgb(100 100 100);
}
.dark .navbaritem:hover{
    background-color: #5a5a5a;
    border-color: #5a5a5a;  
}
.navbaritem{
    width: 44px;
    height: 44px;
    text-align: center;
}
.navbaritem svg{
 margin: auto
}

#brandLogo{
    width: 40px;
    height: 40px;
    margin: auto 0;
    padding: 3px;
}

@media (min-width: 767px){
    .navbar{
        height: 100%;
        width: 54px;  
        box-shadow: 5px 0px 5px 0px #dddddd;
    }
    .navbaritem{
        margin: 5px 0;
    }
    .dark .navbar{
        box-shadow: 5px 0px 5px 0px #1f1f1f;
    }
    #brandLogo{
        margin: 0 auto;
    }
}