@import "../../../styles/_Variables.scss";

.bodySection {
	flex: 1 1 0px;
	margin: 2px;
    flex-direction: column;
}
.sectionHeader {
	padding: 2px 5px;
    text-align: center;
}
.sectionInfo {
	padding: 2px 10px;
    text-align: center;
	border-radius: 4px;
	border-color: $light-highlight;
	border-width: 1px;
	border-style: solid;
	flex: 1 1 0px;

    :global(.dark) &{
        border-color: $dark-highlight;
    }
}
