$dark-primary: #343434;
$dark-secondary: #222222;
$dark-highlight: #e3b505;
$dark-text-color: white;

$light-primary: white;
$light-secondary: #dddddd;
$light-highlight: #EE6F63;
$light-text-color: #212529;