body{
    font-family: fot-udkakugo-large-pr6n, sans-serif !important;
    font-style: normal;
    font-weight: 500 !important;
    margin-bottom:var(--navbar-size) !important;
}
#PokeGrid{
    height: calc(100vh - var(--navbar-size));
}

@media (min-width: 767px){
    #PokeGrid{
        height: 100vh;
    }
    body{
        margin-left: var(--navbar-size) !important;
        margin-bottom: 0px !important;
    }
}

.flex-even{
    flex: 1 1 0px !important;
}
@media (min-width: 767px){
    .w-md-50{
        width: 50% !important
    }
}
