#PokeGrid{
    height: calc(100vh - var(--navbar-size));
}

@media (min-width: 767px){
    #PokeGrid{
        height: 100vh;
    }
}

.flex-even{
    flex: 1 1 0px !important;
}
@media (min-width: 767px){
    .w-md-50{
        width: 50% !important
    }
}
