body{
    overflow: hidden;   
    font-family: fot-udkakugo-large-pr6n, sans-serif !important;
    font-style: normal;
    font-weight: 500 !important;
}
.scrollContainer{
    overflow-y: scroll;
    height: calc(100vh - 60px);
}

@media (min-width: 767px){
    .scrollContainer{
        height: 100vh;
        margin-left: 60px;
    }
}
.dark{
    background-color: #343434;
    color: white;
}
.dark h1{
    color: white;
}
