.pokeCard {
	border-radius: 10px;
	display: flex;
	margin: 10px 0;
	transition: 0.2s;
	border: none;
	min-height: 98px;
}
.pokeCard:not(.expanded):hover {
	box-shadow: 0px 0px 7px 0px rgb(150, 150, 150);
	margin-top: 5px;
	margin-bottom: 15px;
}
.pokeCard .pokeSprite {
	height: 80px;
	width: 100px;
}

.pokeCard .card-header {
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	border-bottom: none;
	border: 1px solid lightgrey;
}

.pokeCard .card-body {
	position: relative;
	height: 0px;
	transition: height 0.2s, padding-top 0.2s;
	padding: 0 1rem;
	overflow: hidden;
	border-radius: 0px 0px 10px 10px;
}
.pokeCard.expanded .card-header {
	background-color: rgba(0, 0, 0, 0.1);
	transition: 0.2s;
	border-radius: 10px 10px 0 0;
	border-width: 1px 1px 0 1px;
	padding-bottom: 15px;
}

.pokeCard.expanded .card-header:hover {
	background-color: rgba(0, 0, 0, 0.03);
	box-shadow: 0px 0px 7px 0px rgb(150, 150, 150);
}
.pokeCard.expanded .card-body {
	display: block;
	height: auto;
	padding: 1rem 1rem;
	border: solid 1px lightgray;
	background-color: white;
}

.cardlazy .lazyload-placeholder{
	border: 1px solid lightgrey;
	background-color: #f7f7f7;
	border-radius: 10px;
	margin: 10px 0;
}
.dark .cardlazy .lazyload-placeholder{
	border-color: #222222;
	background-color: #222222;
}
.dark .pokeCard .card-header{
    border-color: #222222;
	background-color: #222222;
}
.dark .pokeCard{
    background-color: #222222;
    color: white;
}
.dark .pokeCard .card-body{
    background-color: #343434;
    border-color: #222222;
}
.dark .pokeCard .evoColImg{
    border-color: #222222;
}