.pokeCard {
	border-radius: 10px;
	display: flex;
	margin: 10px 0;
	transition: 0.2s margin-top, 0.2s margin-bottom;
	border: none;
	min-height: 114px;
}
.pokeCard a{
    color: #212529;
    text-decoration: none;
}
.pokeCard:hover {
	box-shadow: 0px 0px 7px 0px rgb(150, 150, 150);
	margin-top: 5px;
	margin-bottom: 15px;
}

.pokeCard .card-header {
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	border-bottom: none;
	border: 1px solid lightgrey;
}
.pokeSprite{
	height: 96px;
	width: 96px;
}
.pokeSprite img{
    width: 100%;
    height: 100%;
}
.pokeTitle{
	margin-top: 1rem;
    font-size: 2rem;
}
.cardlazy>.lazyload-placeholder{
	border: 1px solid lightgrey;
	background-color: #f7f7f7;
	border-radius: 10px;
	margin: 10px 0;
}
.dark .spriteLazy>.lazyload-placeholder{
	background-color: #1f1f1f;
	height: 96px;
	width: 96px;
}
.dark .cardlazy>.lazyload-placeholder{
	border-color: #222222 ;
	background-color: #222222;
}
.dark .pokeCard .card-header{
    border-color: #222222 !important; 
	background-color: #222222 !important;
}
.dark .pokeCard{
    background-color: #222222 !important;
}
.dark .pokeCard a{
    color: white;
}
